*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:  linear-gradient(to right, black,rgb(8, 11, 27),black );
    background-size: 400% 400%;
    animation: animate-background 10s infinite ease-in-out;
}

@keyframes animate-background{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}



.box-home-left, .box-home-right{
    text-align: justify;  
}

.name h1{
    
    font-size: 72px;
    color: #f1f1f1;
    font-weight: 700;
    
}
@media screen and (min-width: 768px) {
    .name span{
        content: '';
        border-bottom: 4px solid rgb(212, 57, 57);
        width: 5%;
        top: 65%;
        display: block;
        position: absolute;
    }
}

.nav{
    display: flex;
    flex-wrap: nowrap;
}
.nav li {
    color: #f1f1f1;
    text-decoration: none;
    cursor: pointer;
    padding: 1em;
    
}
.nav li:hover{
    color: rgb(0, 102, 255);
}

img{
    z-index: -1;
    height: 100%;
    position: absolute;
    top:0;
    filter: drop-shadow(0px 0px 100px black);
}

@media screen and (max-width:767px){
    img{
        left: 8em;
        filter:brightness(60%);
        position: absolute;
    }
}


