.profession-about{
    word-spacing: 3px;
}
.logo{
    animation: 1s animate 0.5s forwards;
    opacity: 0;
    padding-top: 2rem;
}
@media screen and (max-width: 500px){

    .logo{
        display: none;
    }
    .main{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    h1{
        color: #fff;
        text-align: center;
        font-size: 32px;
        margin-bottom: 1rem;
    }
    h4{
        color: rgba(255, 255, 255, 0.527);
        text-align: center;
        margin-bottom: 1rem;
        font-size: 24px;
    }
    p{
        color: #fff;
        font-family: 'Geomanist', sans-serif;
        font-weight: 400;
    }

}


@media screen and (max-width:768px) {
    
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
    }

    .box-about-center{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
    }

}


@media screen and (min-width: 768px){

    .box-about-center{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: justify;
        color: white;
        padding-top: 2rem;

    }
}