.box-home-center-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}
.box-home-top-card .vh{
    color: white;
}
@media screen and (max-width:768px){
    .box-home-center-card{
        flex-direction: inherit;
    }

    
}