*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.icon{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.caja{
    margin: 2rem;
    width: 200px;
    height: 200px;
    box-shadow: 16px 14px 20px #0000008c;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:  pointer ;
}
.box-facebook::before{
    content: '';
    background-image: conic-gradient(
        #00acee 20deg,
        transparent 120deg
    );
    width: 150%;
    height: 150%;
    position: absolute;
    animation: rotate 20s linear infinite ;
}
.box-facebook::after{
    content: "";
    width: 190px;
    height: 190px;
    background: #101010;
    position: absolute;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:2rem;
    letter-spacing: 5px;
    box-shadow: inset 20px 20px 20px #0000008c;
}
.box-linkedin::before{
    content: '';
    background-image: conic-gradient(
        rgb(10, 102, 194) 20deg,
        transparent 120deg
    );
    width: 150%;
    height: 150%;
    position: absolute;
    animation: rotate 20s linear infinite ;
}
.box-linkedin::after{
    content: "";
    width: 190px;
    height: 190px;
    background: #101010;
    position: absolute;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:2rem;
    letter-spacing: 5px;
    box-shadow: inset 20px 20px 20px #0000008c;
}
.box-instagram::before{
    content: '';
    background-image: conic-gradient(
        #d6249f 20deg,
        transparent 120deg
    );
    width: 150%;
    height: 150%;
    position: absolute;
    animation: rotate 20s linear infinite ;
}
.box-instagram::after{
    content: "";
    width: 190px;
    height: 190px;
    background: #101010;
    position: absolute;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:2rem;
    letter-spacing: 5px;
    box-shadow: inset 20px 20px 20px #0000008c;
}
.box-whatsapp::before{
    content: '';
    background-image: conic-gradient(
        #25d366 20deg,
        transparent 120deg
    );
    width: 150%;
    height: 150%;
    position: absolute;
    animation: rotate 20s linear infinite ;
}
.box-whatsapp::after{
    content: "";
    width: 190px;
    height: 190px;
    background: #101010;
    position: absolute;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:2rem;
    letter-spacing: 5px;
    box-shadow: inset 20px 20px 20px #0000008c;
}

.icon{
    font-size:5rem; 
}

.facebook{
    color:#3B5998;
    z-index: 100;
}
.linkedin{
    color: rgb(10, 102, 194);
    z-index: 100;
}
.whatsapp{
    color: #25d366;
    z-index: 100;
}
.instagram {
    color:#d6249f;
    z-index: 100;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-3600deg);
    }
}
